<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::section})}">
<head>
    <title>Home Page</title>
</head>
<body>
	<section>
	   	<div class="bg-white pt-4 pb-3">
	   		<h3 class="text-center">Settings</h3>
	   		<div class="row mt-3 ml-0 mr-0 mb-4">
	   			<div class="pl-5 col-md-4 col-12">
	   				<ul class="list-group">
					  	<li class="list-group-item p-0">
					  		<a th:href="@{/setting/account}" class="text-decoration-none text-dark link-block" >Account</a>
					  	</li>
					  	<li class="list-group-item p-0 list-group-item-dark">
						  	<a th:href="@{/setting/change-password}" class="text-decoration-none text-dark link-block" >Change Password</a>
						</li>
					  	<li class="list-group-item p-0">
					  		<a th:href="@{/setting/like-post}" class="text-decoration-none text-dark link-block" >Post you like</a>
					  	</li>
					  	<li class="list-group-item p-0">
					  		<a th:href="@{/logout}" class="text-decoration-none text-danger link-block" >Logout</a>
					  	</li>
					</ul>
	   			</div>
	   			<div class="col-md-8 col-12">
	   				<h5 class="text-center">Change Password</h5>
	   				<div class="text-center">
	   					<small id="status" style="display: block;"></small>
	   				</div>
	   				<form id="update-password">
	   					<input type="password" name="oPassword" id="oPassword" class="form-control mt-4" placeholder="Old Password" />
	   					<input type="password" name="nPassword" id="nPassword" class="form-control mt-2" placeholder="New Password" />
	   					<input type="password" name="rPassword" id="rPassword" class="form-control mt-2" placeholder="Repeat Password" />
	   					<div class="text-center mt-3">
	   						<button class="btn btn-primary">Update Password</button>
	   					</div>
	   				</form>
	   			</div>
	   		</div>
	   	</div>
	</section>
</body>
</html>