<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::section})}">
<head>
    <title>Home Page</title>
</head>
<body>
	<section>
	    <div class="pt-2 pb-2">
	    	<div class="bg-white pt-3 pb-3">
	    		<h3 class="text-center">Notification</h3>
	    		<div th:each="n : ${notifications}" class="p-1">
		    		<div class="border" style="display: flex;">
	  					<a th:href="@{|/u/${n.user.userName}}" style="display: block; padding: 2px 4px">
	  						<img th:src="@{|/img/profile/50x50_${n.user.userData.profileImagePath}}" style="width: 44px" alt="img" class="rounded-pill img-fluid border" />
	  					</a>
	  					<a th:href="@{|/p/${n.redirectUrl}}" style="display: block; width: 100%" href="" class="text-decoration-none text-dark pt-2 pl-2">
	  						<span th:text="${n.text}"></span>
	  					</a>
		    		</div>
		    	</div>
	    		<div class="text-center m-2"><small>End of Notification</small></div>
	    	</div>
	    	
	    </div>
	</section>
</body>
</html>