<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::section})}">
<head>
    <title>Home Page</title>
</head>
<body>
	<section>
		<div class="bg-white pt-5 pb-5">
			<div class="row">
				<div class="col-6 text-center">
					<img style="width: 130px; border: 2px solid black; border-radius: 50%;" th:src="@{|/img/profile/${profileUserProfile}}" alt="" />
				</div>
				<div class="col-6">
					<label th:text="${'@'+profileUser.userName}"></label>
					<h3 th:text="${profileUser.firstName+' '+profileUser.lastName}"></h3>
				</div>
			</div>
			<p>bio</p>
		</div>
	</section>
</body>
</html>